<div class="home_container">
    <app-card
        gameCover="assets/bt-1.jpg"
        label="Digital"
        title="Pre-Order Now!"
        gameType="Full Game | PS4"
        price="$ 299,90"
    ></app-card>

    <app-card
        gameCover="assets/bt-4.jpg"
        label="Exclusive"
        title="Play It Now!"
        gameType="Full Game | PS4"
        price="$ 169,90"
    ></app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        label="Cross Play"
        title="Pre-Order Now!"
        gameType="Full Game | PS4 & PS Vita"
        price="$ 299,90"
    ></app-card>

    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        label="Digital"
        title="Buy It Now!"
        gameType="Full Game | PS4"
        price="$ 499,90"
    ></app-card>

    <app-card
        gameCover="assets/bt-hardline.jpg"
        label="Digital"
        title="Pre-Order Now!"
        gameType="Full Game | PS4"
        price="$ 299,90"
    ></app-card>

    <app-card
        gameCover="assets/ac-cover.jpg"
        label="Digital"
        title="Pre-Order Now!"
        gameType="Full Game | PS4"
        price="$ 299,90"
    ></app-card>

    

    
    
</div>
